<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %> | Digital Pro</title>
        <link rel="icon" type="image/png" href="/icons/favicon/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
        <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
        <script src="/js/jquery-3.6.4.min.js"></script>
        <script src="/js/cart.js" async></script>
    </head>
    <body>
        <header>
            <nav class="nav nav_tablette nav_desktop">
                <ul>
                    <li><a href="/delivery"><i class="fa-solid fa-truck fa-sm"></i> Livraison Gratuite</a></li>
                    <li>
                        <form>
                            <input class="search-field" type="search" id="search" name="search">
                            <button class="search-btn">Rechercher</button>
                        </form>
                    </li>
                    <li><a href="/return-product"><i class="fa-solid fa-right-left fa-sm"></i> Retour Gratuit</a></li>
                </ul>
                <ul>
                    <li class="logo"><a href="/about" lang="en">DIGITAL PRO</a></li>
                    <li><a href="/"><i class="fa-solid fa-house-chimney"></i> Acceuil</a></li>
                    <li><a href="/contact"><i class="fa-solid fa-address-card"></i> Contactez-nous</a></li>
                    <li><a href="/cart"><i class="fa-solid fa-cart-plus"></i> Panier <div class="productsQty"></div></a></li>
                    <li class="user_drop_down_icon" onclick="userIconToggle()" role="button" tabindex="0"><a role="button" tabindex="0"><i class="fa-solid fa-user"></i> Mon Compte</a></li>
                </ul>
                <ul class="user_drop_down_content">
                    <% if (user) { %>
                        <li>Bienvenue, <%= user %></li>
                        <li><a href="/user-dashboard">Mon Espace</a></li>
                        <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Se déconnecter</a></li>
                    <% } else if(admin) { %>
                        <li>Bienvenue, <%= admin %></li>
                        <li><a href="/admin-panel">Espace Admin</a></li>
                        <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Se déconnecter</a></li>
                    <% } else { %>
                        <li><a href="/login">Se connecter</a></li>
                        <li><a href="/signup">S'inscrire</a></li>
                    <% } %>
                </ul>





                <ul>
                    <li><a href="/laptop"><img src="/icons/pc-professionel.svg" alt="icon de pc professionel"><div>PC portables</div></a></li>
                    <li><a href="/all-inOne"><img src="/icons/ordinateur-bureau.svg" alt="icon d'ordinateur de bureau"><div>PC de bureau</div></a></li>
                    <li><a href="/monitor"><img src="/icons/Moniteurs.svg" alt="icon de Moniteur"><div>Moniteurs</div></a></li>
                    <li><a href="/tablette"><img src="/icons/tablets-icon.svg" alt="icons de tablette"><div>Tablettes</div></a></li>
                    <li><a href="/smartphone"><img src="/icons/phone.svg" alt="icon de smartphone"><div>Smartphone</div></a></li>
                    <li><a href="/accessories"><img src="/icons/accessories.svg" alt="icon des accessories"><div>Accessoires</div></a></li>
                </ul>
            </nav>

            <nav class="nav_mobile">
                <ul class="flex">
                    <li><a href="/delivery" aria-label="Livraison Gratuite"><i class="fa-solid fa-truck fa-xs"></i> Gratuite</a></li>
                    <li><a href="/return-product" aria-label="Retour Gratuite"><i class="fa-solid fa-right-left fa-xs"></i> Gratuit</a></li>
                </ul>
                <ul class=" flex drop_down_menu_wrapper">
                    <li class="drop_down_icon" onclick="toggleDropDown()" role="button" aria-label="menu déroulant" tabindex="0"><i class="fa-regular fa-square-caret-down "></i></li>
                    <li class="drop_down_icon" onclick="toggleDropDown()" role="button" aria-label="rechercher" tabindex="0"><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li class="logo"><a href="/">DIGITAL PRO</a></li>
                    <li class="user_drop_down_icon" onclick="userIconToggle_mobile()" role="button" aria-label="se connecter ou s'inscrire" tabindex="0"><a role="button" tabindex="0"><i class="fa-solid fa-user"></i></a></li>
                    <li><a href="/cart"><i class="fa-solid fa-cart-plus"></i><div class="mobile_productsQty"></div></a></li>
                </ul>
                <ul class="drop_down_content">
                    <li>
                        <form>
                            <input class="search-field" type="search" id="search" name="search">
                            <button class="search-btn">Rechercher</button>
                        </form>
                    </li>
                    <li><a href="/laptop">PC portables</a></li>
                    <li><a href="/all-inOne">PC de bureau</a></li>
                    <li><a href="/monitor">Moniteurs</a></li>
                    <li><a href="/tablette">Tablettes</a></li>
                    <li><a href="/smartphone">Smartphone</a></li>
                    <li><a href="/accessories">Accessoires</a></li>
                    <li><a href="/contact"><i class="fa-solid fa-address-card"></i> Contactez-nous</a></li>
                    <li><a href="/about">A propos de nous</a></li>
                    <li><a href="/"><i class="fa-solid fa-house-chimney"></i> Acceuil</a></li>
                </ul>
                <ul class="user_drop_down_content_mobile">
                    <% if (user) { %>
                        <li>Bienvenue, <%= user %></li>
                        <li><a href="/user-dashboard">Mon Espace</a></li>
                        <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Se déconnecter</a></li>
                    <% } else if(admin) { %>
                        <li>Bienvenue, <%= admin %></li>
                        <li><a href="/admin-panel">Espace Admin</a></li>
                        <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Se déconnecter</a></li>
                    <% } else { %>
                        <li><a href="/login">Se connecter</a></li>
                        <li><a href="/signup">S'inscrire</a></li>
                    <% } %>
                </ul>
            </nav>
        </header>
        <main class="container">
