<%- include('../includes/_header') -%>

   <section class="section_bg">
        <h3><%= smartphone.title %></h3>
        <img src="/images/smartphones/<%= smartphone.image %>" alt="smartphone image">
        <ul>
            <% smartphone.description.forEach( element => { %>
                <li> <%= element %> </li>
            <% }); %>
        </ul>
        <p> <%= smartphone.price %>,00 €</p>
        <p>Code de réduction: SPRING</p>
        <p> quantité totale disponible en ce moment:<%= smartphone.quantity %> smartphones/p>
        <video controls class="details_video">
            <source src="/video/laptop.mp4" type="video/mp4" />
            <p>
                Votre navigateur ne prend pas en charge la vidéo HTML. Voici un
                lien vers la vidéo à la place.
            </p>
        </video>
    </section>

<%- include('../includes/_footer') -%>