<%- include('./includes/_header') -%>

    <section>
        <h2>Offres à durée limitée</h2>
        <div class="responsive read-more-container">
            <%- include('./includes/pcs/_laptop') -%>
            <%- include('./includes/pcs/_allinOne') -%>
            <%- include('./includes/pcs/_monitor') -%>
        </div>
    </section>

<%- include('./includes/_footer') -%>
