<%- include('../includes/_header') -%>

   <section class="section_bg">
        <h3><%= tablette.title %></h3>
        <img src="/images/tablettes/<%= tablette.image %>" alt="tablette image">
        <ul>
            <% tablette.description.forEach( element => { %>
                <li> <%= element %> </li>
            <% }); %>
        </ul>
        <p> <%= tablette.price %>,00 €</p>
        <p>Code de réduction: SPRING</p>
        <p> quantité totale disponible en ce moment:<%= tablette.quantity %> tablettes/p>
        <video controls class="details_video">
            <source src="/video/smartphone.mp4" type="video/mp4" />
            <p>
                Votre navigateur ne prend pas en charge la vidéo HTML. Voici un
                lien vers la vidéo à la place.
            </p>
        </video>
    </section>

<%- include('../includes/_footer') -%>